// Vuetify Cards
.v-card {
  padding: 1rem !important;
}

// Vuetify Labels
label {
  margin-bottom: 0 !important;
}

// Remove padding from Vuetify timepicker card
.v-picker {
  padding: 0 !important;
}
